*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 0.5%;
}

.logo{
    height: 50px;
    margin-top: 2.5%;
}

.autore{
    color: rgb(0, 191, 255);
}

.footer-monitor{
    background-image: url(../img/monitor.jpg);
    height: 225px;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5%;
}

.footer-graph{
    background-image: url(../img/graph.jpg);
    height: 225px;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5%;
}