*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo + sfondo */
header{
    background-color: rgb(0, 155, 207);
    background-image: url(../img/pattern.png);
    background-size: 300px;
    height: 100px;
}

.logo{
    height: 50px;
    margin-top: 2.5%;
}

.container, .logo{
    margin-left: 0.5%;
}

.spazio{
    margin-top: 1%;
    margin-bottom: 1%;
}

.text-color{
    color: lightgray;
}

.author-name{
    color: rgb(0, 191, 255);
}

.text-size{
    color: lightgrey;
    font-size: 12px;
}

.tabella{
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-monitor{
    background-image: url(../img/monitor.jpg);
    height: 225px;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5%;
}

.footer-graph{
    background-image: url(../img/graph.jpg);
    height: 225px;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5%;
}